
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
